@import '../common/colors.scss';
@import '../common/fonts.scss';


.btn {
  width: 430px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  background-color: $base-color-black;
  color: $base-color-white;
  cursor: pointer;
}

.mypage {
  min-height: calc(100vh - (100px + 150px));
  
}

// 개인 정보 수정 - PW 확인창
.myPageConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  
  .wrapper {
    .title {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      h2 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .form {
      margin: 60px 0;
      display: flex;
      justify-content: center;

      .PWContaniner {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 420px;
        height: 28px;
        margin-bottom: 20px;
        padding: 5px 0;
        border-bottom: 1px solid #000;

        p {
          font-weight: 700;
        }

        input {
          width: 420px;
          height: 23px;
          border: none;
          outline: none;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}


