@import "../common/colors.scss";
@import "../common/fonts.scss";

.cartList {
  .container {
    width: 100%;
    font-family: "Pretendard";

    .cartItem {
      display: grid;
      grid-template-columns: 0.5fr 1fr 2fr 0.5fr repeat(2, 1fr) 0.5fr;
      align-items: center;
      min-width: 1000px;
      max-width: 1440px;
      padding: 20px 0 20px;
      margin-bottom: 20px;
      border: 1px solid $base-color-gray;
      border-radius: 10px;
      text-align: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .itemImg {
          width: 100px;
          height: 100px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .itemTitle {
        span {

        }
      }

      .itemQuantity {
        span {

        }
      }

      .itemPrice {
        display: flex;
        flex-direction: column;
        
        .discountPrice {
          
        }

        .originalPrice {
          text-decoration: line-through;
        }
      }

      .totalPrice {
            
      }
      
      .deleteBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          path {
            padding: 20px;
            &:hover {
              color: $point-color-red;
            }
          }
        }
        
      }
    }
  }
}