@import "../common/colors.scss";
@import "../common/fonts.scss";


.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - (100px + 150px));
  margin: 50px auto;
  font-family: "Pretendard";
  color: $font-color;

  h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px 10px;

  }

  .container {
    min-width: 1000px;
    max-width: 1440px;
    margin: 20px 0;

    .title {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      h2 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .list_nav {
      .list_nav_container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1.3fr 1.5fr repeat(3, 1fr);
        width: 100%;
        height: 60px;
        background-color: $base-color-lightgray;
        border-radius: 10px;
        font-family: "Pretendard";
        font-weight: 600;
        text-align: center;
      }
    }

    .buyList {
      .container {
        width: 100%;

        .cartItem {
          display: grid;
          grid-template-columns: 1.3fr 1.5fr repeat(3, 1fr);
          align-items: center;
          min-width: 1000px;
          max-width: 1440px;
          padding: 20px 0 20px;
          margin-bottom: 20px;
          border: 1px solid $base-color-gray;
          border-radius: 10px;
          text-align: center;

          .checkbox {

          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .itemImg {
              width: 100px;
              height: 100px;
    
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .itemTitle {
            span {

            }
          }

          .itemQuantity {
            span {

            }
          }

          .itemPrice {
            display: flex;
            flex-direction: column;

            .originalPrice {
              text-decoration: line-through;
            }
          }

          .totalPrice {

          }

          .deleteBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
              path {
                padding: 20px;
                &:hover {
                  color: $point-color-red;
                }
              }
            }
          }
        }
      }
    }

    .total_price {
      background-color: $base-color-lightgray;
      border-radius: 10px;
      height: 100px;
      margin-bottom: 30px;

      .total_price_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 18px;
        gap: 6px;

        strong {
          font-weight: 600;
        }

        .plus,
        .equal {
          svg {
            path {
              color: $point-color-mint;
            }
          }
          margin: 0 8px 0;
        }
      }
    }

    .customer {
      margin-bottom: 30px;

      .customer_container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 60px;
        border: 1px solid $base-color-gray;
        border-radius: 10px;
        font-family: "Pretendard";
        font-weight: 600;
        text-align: center;

        .name {
          span {
            margin-left: 10px;
          }
        }
        .email {
          span {
            margin-left: 10px;
          }
        }
      }
    }

    .credit {
      margin-bottom: 30px;

      .credit_container {
        padding: 30px 70px;
        border: 1px solid $base-color-gray;
        border-radius: 10px;

        .select {
          display: flex;
          justify-content: center;
          gap: 20px;
          margin-bottom: 20px;

          p {
            font-weight: 600;
          }
          
        }

        .account {
          .account_info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            align-items: center;
            height: 50px;
            border: 1px solid $base-color-gray;
            border-radius: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
              background-color: $base-color-lightgray;
            }
            &:active {
              border: 1.5px solid $point-color-mint;
            }
          }

          .noAccount {
            color: $point-color-red;
            text-align: center;
          }
        }
        
        .bank {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          height: 50px;
          background-color: $base-color-lightgray;
          border: 1px solid $base-color-gray;
          border-radius: 10px;
        }
      }
    }

    .payment_details {
      .details_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $base-color-gray;
        border-radius: 10px;
        padding: 30px;
        gap: 6px;

        span {
          font-size: 24px;
          font-weight: 600;
        }
        p {
          margin: 5px 0;
        }
      }
    }
  }

  .payment_btn {
    margin: 30px 0;

    .btn {      
      width: 500px;
      height: 50px;
      border-radius: 10px;
      border-style: none;
      color: $base-color-white;
      background-color: $base-color-black;
      cursor: pointer;
    }
  }
}