@import '../common/colors.scss';
@import '../common/fonts.scss';

.adminUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 50px;

      h2 {
        font-family: $font-main;
        font-size: $font-main-size;
        font-weight: bold;
      }
    }

    .wrapper {
      margin-bottom: 150px;
      
      table {
        font-family: "Pretendard";
        font-size: 14px;

        thead {
          tr {
            th {
              padding: 10px 20px 10px;
              border: 1px solid $base-color-gray;
              font-weight: 500;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 10px 20px 10px;
              border: 1px solid $base-color-gray;
              font-weight: 300;
              text-align: center;
            }
          }
        }
      }
    }

  }
}