@import '../common/colors.scss';
@import '../common/fonts.scss';

.name{
  font-size: 30px;
  margin-bottom: 20px;
}

.textarea{  
  font-size: 22px;
  padding: 12px;
  width: 1000px;
  height: 500px;
  resize: none;
  border-radius: 10px;
}
.button{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}


.btn{
  font-size: 16px;
  margin-top: 10px;
  width: 130px;
  height: 50px;
  background-color:#fadad8;
  border-radius: 38px;
  border:none;
  }
        
