* {
    box-sizing: border-box;
}
.container {
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;  
}
.title {
}
.notice{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  width: 130px;
  height: 50px;
  margin: 30px;
}
.buttonSection {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeButton {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 15px;
  width: 130px;
  height: 50px;
  background-color: #D9D9D9;
  border:none;
  border-radius: 38px;
  align-items: center;
}

.inactiveButton {
  font-size: 16px;
  font-weight: 600;
  width: 130px;
  height: 50px;
  margin: 0px 15px;
  border:none;
  border-radius: 38px;
}

.write{
  font-size: 16px;
  font-weight: 600;
  border:none;
  position: absolute;
  right: 20%;
  width: 80px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 10px;
}
.writetwo{
  font-size: 16px;
  font-weight: 600;
  border:none;
  position: absolute;
  right: 20%;
  width: 80px;
  height: 50px;
  background-color:#fadad8;
  border-radius: 10px;
}

.ex{
  font-size: 25px;
  margin: 30px;
}

///////////////////////////////////////////////////////////////////////////////
/// ALL
.allTitleBar {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 4dvb;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 2px solid black;
}



///////////////////////////////////////////////////////////////////////////////
/// ALL


///////////////////////////////////////////////////////////////////////////////

