@import './common/colors.scss';
@import './common/fonts.scss';

@keyframes walking {
  0% {
    left: -200px;
  }
  100% {
    left: -50px;
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  .container {
    position: relative; 
    display: flex;

    .car {
      position: absolute;
      top: 48px;
      animation: walking 2s linear infinite alternate;
      animation-direction: normal;

      svg {
        width: 50px;
        height: 50px;

        path {
          color: $point-color-mint;
        }

        circle {
          color: $point-color-mint;
        }
      }
    }

    .house {
      svg {
        width: 100px;
        height: 100px;
        
        path {
          color: $point-color-mint;
        }
      }
    }
    
  }
}