@import '../styles/common/colors.scss';
@import '../styles/common/fonts.scss';

*{
  margin: 0; 
  padding: 0;
  color: $font-color;
  font-family: 'Pretendard-Regular';
}

footer {
  // border: 3px solid red;
  width: 100vw;
  height: 150px;
  background-color: $base-color-lightgray;

  .container {
    position: relative;
    top: 24px;

    ul {
      display: flex;
      justify-content: space-around;

      .logo {
        width: 200px;

        h1 {
          font-family: $font-logo;
          font-size: $font-logo-size;
        }
      }
  
      .company,
      .bank,
      .customer,
      .tel {
        margin-right: 30px;

        div {
          display: flex;
          flex-direction: column;
          font-size: 12px;
  
          h2 {
            font-weight: 700;
            margin-bottom: 10px;
          }

          span {
            line-height: 1.6em;
          }
        }
      }

      .tel {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}