@import "../styles/common/fonts.scss";
@import "../styles/common/colors.scss";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  border-bottom: solid .8px $base-color-gray;

  .container {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 1440px;

    .logo {
      display: flex;
      align-items: center;
      height: 50px;
      margin-left: 70px;
      margin-right: 70px;
      font-family: $font-logo;
      font-size: $font-logo-size;
    }
    
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      right: 400px;
      font-family: $font-nav;
      font-size: $font-nav-size;
      font-weight: $font-nav-weight;
  
      ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style: none;
  
        .menu {
          font-family: $font-nav;
          font-size: $font-nav-size;
          font-weight: 100;
        }

        .active {
          text-decoration: underline;
        }
      }
    }
  
    .subNav {
      position: absolute;
      right: 0px;
      height: 70px;
      margin-right: 70px;
  
      .user {
        font-family: $font-login;
        font-size: $font-login-size;
        font-weight: $font-login-weight;
        margin-bottom: 12px;

        .userSignUp {
          margin-left: 20px;

          &::before {
            content: "|";
            margin-right: 20px;
          }
        }
      }
  
      .icons {
        display: flex;
        justify-content: center;
        gap: 30px;

        .mypage,
        .shoppingbag {
          font-size: 20px;
        }
        .search {
          font-size: 30px;
        }

        .search {
          cursor: pointer;
        }
      }
    }
  }
}

