@import "./common/colors.scss";
@import "./common/fonts.scss";

.searchContainer {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 9;
  font-family: "Pretendard";

  .search {
    display: flex;
    position: relative;
    gap: 5px;

    .searchBar {
      border: 1px solid $base-color-gray;
      width: 180px;
      height: 28px;
      outline: none;
      font-size: 0.8rem;
      padding: 4px 4px 4px 6px;
      box-sizing: border-box;
      margin-right: 8px;
    }
  }

  .searchForm {
    display: flex;
    align-items: center;
    width: 180px;
    min-height: 32px;
    border: 1px solid $base-color-gray;
    border-top: none;
    background-color: $base-color-lightgray;
    padding: 4px 4px 4px 6px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 14px;
    
    .none {
      display: none;
    }
  }
}
