@import '../common/colors.scss';
@import '../common/fonts.scss';

.productContainer {
  width: 285px;
  height: 350px;
  margin: 10px;

  strong {
    font-weight: 700;
    font-size: 18px;
  }


  .productPhotoBox {
    width: 285px;
    height: 280px;
    img {
      width: 285px;
      height: 280px;
    }
  }
  .productInfo {
    a {
      display: block;
      padding: 10px;
      text-align: center;
      .productName {
        display: block;
        font-size: 20px;
        font-weight: 700;
      }
      p {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
  .productPriceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
 
    .priceDiscount {
      color: $point-color-red;
    }
    .priceThrough {
      text-decoration: line-through;
      font-size: 14px;
      color: $base-color-black;
    }
  }
 

}