@import '../common/colors.scss';
@import '../common/fonts.scss';

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 350px;
  margin: 10px;
  font-family: "Pretendard";

  strong {
    font-weight: 700;
    font-size: 18px;
  }

  .productPhotoBox {
    width: 285px;
    height: 280px;
    margin-bottom: 14px;

    img {
      width: 285px;
      height: 280px;
    }
  }

  .productInfo {
    text-align: center;
    margin-bottom: 6px;
    
    .productName {
      display: block;
      font-size: 16px;
      font-weight: 500;
    }

    strong {
      margin-top: 5px;
      font-size: 14px;
    }
  }

  .productPriceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
 
    .priceDiscount {
      font-weight: 400;
      color: $point-color-red;
    }
    
    .priceThrough {
      text-decoration: line-through;
      font-size: 14px;
      color: gray;
    }
  }
}