/******************************************************************* 
// 위치 : src/styles/common/colors.scss
// 설명 : 각 요소에 적용될 공통 색상 SCSS를 한곳에 모아서 관리합니다.
********************************************************************/ 

// 베이스 색상 (base colors)
$base-color-white: #FCFCFC;
$base-color-lightgray: #F6F6F6;
$base-color-gray: #D9D9D9;
$base-color-taupe: #AFA8A8;
$base-color-black: #333333;

// 포인트 색상 (point colors)
$point-color-mint: #41D3BD;
$point-color-red: #E71D36;
$point-color-pink: #FADAD8;

// 폰트 기본 적용 색상 (font color)
$font-color: #333333;