@import "../common/colors.scss";
@import "../common/fonts.scss";

.slider {
  width: 100vw;
  max-height: 100vh;

  .slides {
    display: flex;
    justify-content: center;
    align-items: center;

    .images {
      width: 1250px;
      max-height: calc(100vh - (100px + 150px));
    }
  }
}
