@import "../common/colors.scss";
@import "../common/fonts.scss";

.main {
  position: relative;
  width: 100vw;
  height: calc(100vh - (100px + 150px));
  display:flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    min-height: calc(100vh - (100px + 150px));
  }
}
